{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "next",
    "eslint:recommended",
    "prettier",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@tanstack/eslint-plugin-query/recommended"
  ],
  "globals": {
    "React": "writable"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "plugins": [
    "prettier",
    "@typescript-eslint",
    "react",
    "react-hooks",
    "@tanstack/query"
  ],
  "root": true,
  "rules": {
    "@tanstack/query/exhaustive-deps": "error",
    "@typescript-eslint/array-type": [
      "warn",
      {
        "default": "array"
      }
    ],
    "@typescript-eslint/consistent-type-assertions": [
      "warn",
      {
        "assertionStyle": "as",
        "objectLiteralTypeAssertions": "never"
      }
    ],
    "no-unused-vars": "warn",
    "no-var": "warn",
    "object-shorthand": "warn",
    "prefer-const": "warn",
    "prettier/prettier": "warn",
    "quote-props": [
      "warn",
      "as-needed"
    ],
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [
          "ts",
          "tsx"
        ]
      }
    ],
    "react/jsx-fragments": [
      "warn",
      "syntax"
    ],
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
